@using WebTickets.Repo;
@model WebTickets.RequestModel
<link rel="stylesheet" type="text/css" href="~/Css/MaintainerGetAllRequest.css" />
<h1>所有订单</h1>
<div class="center_center">
    <div class="table_content">
        <table border="1">
            <thead>
                <tr>
                    <th width="11%">@Html.LabelFor(m => m.StudentId)</th>
                    <th width="11%">@Html.LabelFor(m => m.UserName)</th>
                    <th width="11%">@Html.LabelFor(m => m.ProblemTitle)</th>
                    @*<th width="11%">@Html.LabelFor(m => m.Level)</th>*@
                    <th width="11%">@Html.LabelFor(m => m.Telephone)</th>
                    <th width="11%">@Html.LabelFor(m => m.Location)</th>
                    <th width="12%">@Html.LabelFor(m => m.ExpectTime)</th>
                    <th width="11%">@Html.LabelFor(m => m.Maintainer)</th>
                    <th width="11%">@Html.LabelFor(m => m.Condition)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var requestRepo = new RequestRepo();
                }
                @foreach (var request in requestRepo.GetAll())
                {
                    <tr>
                        <td width="11%">@request.StudentId</td>
                        <td width="11%">@request.UserName</td>
                        <td width="11%">@request.ProblemTitle</td>
                        @*<td width="11%">@request.Level</td>*@
                        <td width="11%">@request.Telephone</td>
                        <td width="11%">@request.Location</td>
                        <td width="12%">@request.ExpectTime</td>
                        <td width="11%">@request.Maintainer</td>
                        <td width="11%" class="condition" id="Condition-@request.Id" value="">@request.Condition</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(".condition").each(function (i, e) {//两个参数
            if (e.innerHTML == "0") {
                e.innerHTML = "待处理";
            } else if (e.innerHTML == '1') {
                e.innerHTML = "已接收";
            }
        })
    </script>
}
