@using WebTickets.Repo;
@model WebTickets.RequestModel
@{
    /**/
    ViewBag.Title = "Index";
}
<table border="1">
    <thead>
        <tr>
            <td>@Html.LabelFor(m => m.StudentId)</td>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.LabelFor(m => m.ProblemTitle)</td>
            <td>@Html.LabelFor(m => m.Telephone)</td>
            <td>@Html.LabelFor(m => m.Location)</td>
            <td>@Html.LabelFor(m => m.ExpectTime)</td>
            <td>@Html.LabelFor(m => m.Condition)</td>
        </tr>
    </thead>
    <tbody>
        @{
            var requestRepo = new RequestRepo();
        }
        @foreach (var request in requestRepo.GetAll(x => x.Condition == 0))
        {
            <tr>
                <td>@request.StudentId</td>
                <td>@request.UserName</td>
                <td>@request.ProblemTitle</td>
                <td>@request.Telephone</td>
                <td>@request.Location</td>
                <td>@request.ExpectTime</td>
                <td class="condition" id="Condition-@request.Id" value="">@request.Condition</td>
                <td><input type="button" onclick="acceptRequest('@request.Id','@ViewBag.CurrentUser.Id')" value="接受订单" /></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function acceptRequest(id, maintainerId) {
            if (confirm("您确认接受此订单么？？？")) {
                $.ajax(
                    {
                        type: "Get",
                        url: "/Maintainer/UpdateStatus?id=" + id + "&condition=" + 1 + "&maintainerId=" + maintainerId,
                        success: function (result) {
                            if (result) {
                                window.location.reload();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败");
                        }

                    })
            }    
        }
            $(".condition").each(function (i, e) {//两个参数
                if (e.innerHTML == "0") {
                    e.innerHTML = "待处理";
                }
            })
    </script>
}