@using WebTickets.Repo;
@model WebTickets.RequestModel
<table border="1">
    <thead>
        <tr>
            <td>@Html.LabelFor(m => m.StudentId)</td>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.LabelFor(m => m.ProblemTitle)</td>
            <td>@Html.LabelFor(m => m.Telephone)</td>
            <td>@Html.LabelFor(m => m.Location)</td>
            <td>@Html.LabelFor(m => m.ExpectTime)</td>
            <td>@Html.LabelFor(m => m.Condition)</td>
        </tr>
    </thead>
    <tbody>
        @{
            var requestRepo = new RequestRepo();
        }@foreach (var request in requestRepo.GetAll())
        {
            <tr>
                <td>@request.StudentId</td>
                <td>@request.UserName</td>
                <td>@request.ProblemTitle</td>
                <td>@request.Telephone</td>
                <td>@request.Location</td>
                <td>@request.ExpectTime</td>
                <td class="condition">@request.Condition</td>
                <td><input type="button" id="check" value="查看订单" /></td>
                <td><input type="button" onclick="deleteRequest('@request.Id')" value="删除订单" /></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function deleteRequest(id) {
            if (confirm("删除之后不可恢复，您确定删除订单么？？？")) {
                $.ajax(
                    {
                        type: "GET",
                        url: "/Teacher/DeleteAuditRequest?id=" + id,
                        success: function (result) {
                            if (result) {
                                window.location.reload();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败");
                        }
                    })
            } else {
            }
        }
        $(function () {
            $(".condition").each(function (i, e) {//两个参数
                if (e.innerHTML == "0") {
                    e.innerHTML = "待处理";
                } else if (e.innerHTML == '1') {
                    e.innerHTML = "已接收";
                }
            });
        })
    </script>
}