@model WebTickets.UserModel
@using WebTickets.Repo;
<table border="1">
    <thead>
        <tr>
            <td>@Html.LabelFor(m => m.RuiJieId)</td>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.LabelFor(m => m.Gender)</td>
            <td>@Html.LabelFor(m => m.CollegeClass)</td>
            <td>@Html.LabelFor(m => m.MobilePhone)</td>
            <td>@Html.LabelFor(m => m.Role)</td>
        </tr>
    </thead>
    <tbody>
        @{
            var userRepo = new UserRepo();
        }
        @foreach (var user in userRepo.GetAll(x => x.AuditStatus == 0))
        {
            <tr>
                <td>@user.RuiJieId</td>
                <td>@user.Name</td>
                <td>@user.Gender</td>
                <td>@user.CollegeClass</td>
                <td>@user.MobilePhone</td>
                <td class="role">@user.Role</td>
                <td><input type="button" onclick="auditUser('@user.Id')"value="通过" /></td>
                <td><input type="button" onclick="deleteUser('@user.Id')" value="拒绝"></td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        function auditUser(id) {
            if (confirm("您确定通过他的申请么")){
                $.ajax({
                    type: "POST",
                    url: "/Teacher/SaveAuditUser?id=" + id + "&auditStatus=" + 1,
                    success: function (result) {
                        if (result) {
                            alert("操作成功");
                            window.location.reload();
                        }
                    },
                    error: function (result) {
                        alert("网络异常，通讯失败");
                    }
                }
                )
            }
        }
        function deleteUser(id) {
            if (confirm("您确定拒绝申请么")) {
                $.ajax({
                    type: "POST",
                    url: "/Administrator/DeletelUser?id=" + id ,
                    success: function (result) {
                        if (result) {
                            alert("操作成功");
                            window.location.reload();
                        }
                    },
                    error: function (result) {
                        alert("网络异常，通讯失败");
                    }
                }
                )
            }
        }
        $(".role").each(function (i, e) {
            if (e.innerHTML == "User") {
                e.innerHTML = "用户";
            } else if (e.innerHTML == "Maintainner") {
                e.innerHTML = "维修人员";
            } else if (e.innerHTML == "Teacher") {
                e.innerHTML = "老师";
            } else if (e.innerHTML == "Administrator") {
                e.innerHTML = "管理员";
            }
        })
    </script>

}