@using WebTickets.Repo;
@model WebTickets.RequestModel

<style type="text/css">
    body {
        background-image: url(/Content/z4.jpg);
        background-size: cover;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        letter-spacing: 15px;
        color: darkslategray;
        font-family: STKaiti;
        margin-bottom: 30px;
    }

    #check_order, #del_order {
        display: inline-block;
        padding: 5px 10px;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: darkslategray;
        background-color: #5599FF;
        border: none;
        border-radius: 8px;
        box-shadow: 0 5px #999;
    }

        #check_order, #del_order:hover {
            background-color: #4682B4
        }

        #del_order:active {
            background-color: #0000AA;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        #check_order:active {
            background-color: #0000AA;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    #check_order {
        margin-left: 0px;
        display: inline-block;
    }

    #del_orde {
        margin-left: 0px;
        display: inline-block;
    }

    table td:nth-child(odd) {
        background-color: #F0E68C;
    }

    table td:nth-child(even) {
        background-color: #99BBFF;
    }

    table th:nth-child(odd) {
        background-color: #F0E68C;
    }

    table th:nth-child(even) {
        background-color: #99BBFF
    }




    .table_content {
        margin: 5px;
        border: 1px dashed #FFF0F5;
        width: 1000px;
        height: 375px;
        margin-left: 60px;
        overflow-x: hidden;
        overflow-y: auto;
    }


        .table_content table {
            width: 100%;
            border: 0;
            border-collapse: collapse;
            font-size: 12px;
        }


            .table_content table th {
                border-collapse: collapse;
                height: 60px;
                color: white;
                text-align: center;
                font-size: 20px;
                border: 1px dotted white;
            }

            .table_content table td {
                height: 40px;
                word-wrap: break-word;
                max-width: 300px;
                text-align: center;
                vertical-align: middle;
                border: 1px dotted white;
            }
</style>
<h1>审核保修单</h1>
<div class="center_center">
    <div class="table_content">
        <table>
            <thead>
                <tr>
                    <th width="11%">@Html.LabelFor(m => m.StudentId)</th>
                    <th width="11%">@Html.LabelFor(m => m.UserName)</th>
                    <th width="11%">@Html.LabelFor(m => m.ProblemTitle)</th>
                    <th width="11%">@Html.LabelFor(m => m.Level)</th>
                    <th width="11%">@Html.LabelFor(m => m.Telephone)</th>
                    <th width="12%">@Html.LabelFor(m => m.Location)</th>
                    <th width="11%">@Html.LabelFor(m => m.ExpectTime)</th>
                    <th width="11%">@Html.LabelFor(m => m.Condition)</th>
                    <th width="11%">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var requestRepo = new RequestRepo();
                }@foreach (var request in requestRepo.GetAll())
                {
                    <tr>
                        <td width="11%">@request.StudentId</td>
                        <td width="11%">@request.UserName</td>
                        <td width="11%">@request.ProblemTitle</td>
                        <td width="11%">@request.Level</td>
                        <td width="11%">@request.Telephone</td>
                        <td width="12%">@request.Location</td>
                        <td width="11%">@request.ExpectTime</td>
                        <td width="11%" class="condition">@request.Condition</td>
                        <td width="11%">
                            <input type="button" id="check_order"  value="查看" />
                            <input type="button" id="del_order" onclick="deleteRequest('@request.Id')" value="删除" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        function deleteRequest(id) {
            if (confirm("删除之后不可恢复，您确定删除订单么？？？")) {
                $.ajax(
                    {
                        type: "GET",
                        url: "/Teacher/DeleteAuditRequest?id=" + id,
                        success: function (result) {
                            if (result) {
                                window.location.reload();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败");
                        }
                    })
            } else {
            }
        }
        $(function () {
            $(".condition").each(function (i, e) {//两个参数
                if (e.innerHTML == "0") {
                    e.innerHTML = "待处理";
                } else if (e.innerHTML == '1') {
                    e.innerHTML = "已接收";
                }
            });
        })
    </script>
}
