@using WebTickets.Repo;
@model WebTickets.RequestModel
<link rel="stylesheet" type="text/css" href="~/Css/TeacherAuditRequest.css" />
<h1>审核报修单</h1>
<div class="center_center">
    <div class="table_content">
        <table>
            <thead>
                <tr>
                    <th width="11%">@Html.LabelFor(m => m.StudentId)</th>
                    <th width="11%">@Html.LabelFor(m => m.UserName)</th>
                    <th width="11%">@Html.LabelFor(m => m.ProblemTitle)</th>
                    <th width="11%">@Html.LabelFor(m => m.Level)</th>
                    <th width="11%">@Html.LabelFor(m => m.Telephone)</th>
                    <th width="12%">@Html.LabelFor(m => m.Location)</th>
                    <th width="11%">@Html.LabelFor(m => m.ExpectTime)</th>
                    <th width="11%">@Html.LabelFor(m => m.Condition)</th>
                    <th width="11%">操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var requestRepo = new RequestRepo();
                }@foreach (var request in requestRepo.GetAll())
                {
                    <tr>
                        <td width="11%">@request.StudentId</td>
                        <td width="11%">@request.UserName</td>
                        <td width="11%">@request.ProblemTitle</td>
                        <td width="11%">@request.Level</td>
                        <td width="11%">@request.Telephone</td>
                        <td width="12%">@request.Location</td>
                        <td width="11%">@request.ExpectTime</td>
                        <td width="11%" class="condition">@request.Condition</td>
                        <td width="11%">
                            <input type="button" id="check_order"  value="查看" />
                            <input type="button" id="del_order" onclick="deleteRequest('@request.Id')" value="删除" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        function deleteRequest(id) {
            if (confirm("删除之后不可恢复，您确定删除订单么？？？")) {
                $.ajax(
                    {
                        type: "GET",
                        url: "/Teacher/DeleteAuditRequest?id=" + id,
                        success: function (result) {
                            if (result) {
                                window.location.reload();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败");
                        }
                    })
            } else {
            }
        }
        $(function () {
            $(".condition").each(function (i, e) {//两个参数
                if (e.innerHTML == "0") {
                    e.innerHTML = "待处理";
                } else if (e.innerHTML == '1') {
                    e.innerHTML = "已接收";
                }
            });
        })
    </script>
}
