@using WebTickets.Repo;
@model WebTickets.RequestModel
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Css/UserIndex.css" />
<h1>历史订单</h1>
<div class="table_div">
    <div class="table_content">
        <table>
            <thead>
                <tr>
                    <th width="12%">@Html.LabelFor(m => m.StudentId)</th>
                    <th width="12%">@Html.LabelFor(m => m.UserName)</th>
                    <th width="12%">@Html.LabelFor(m => m.ProblemTitle)</th>              
                    <th width="12%">@Html.LabelFor(m => m.Telephone)</th>
                    <th width="16%">@Html.LabelFor(m => m.Location)</th>
                    <th width="12%">@Html.LabelFor(m => m.ExpectTime)</th>
                    <th width="12%">@Html.LabelFor(m => m.Maintainer)</th>
                    <th width="12%">@Html.LabelFor(m => m.Condition)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var requestRepo = new RequestRepo();
                    var user = (UserModel)ViewBag.CurrentUser;
                }
                @foreach (var request in requestRepo.GetAll(x => x.StudentId == user.RuiJieId))
                {
                    <tr>
                        <td>@request.StudentId</td>
                        <td>@request.UserName</td>
                        <td>@request.ProblemTitle</td>
                        <td>@request.Telephone</td>
                        <td>@request.Location</td>
                        <td>@request.ExpectTime</td>
                        <td>@request.Maintainer</td>
                        <td class="condition" id="Condition-@request.Id" value="">@request.Condition</td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
        @section Scripts{
            <script>
                $(".condition").each(function (i, e) {//两个参数
                    debugger;
                    if (e.innerHTML == "0") {
                        e.innerHTML = "待处理";
                    } else if (e.innerHTML == '1') {
                        e.innerHTML = "已接受";
                    }
                })
            </script>
        }
