@using WebTickets.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("报修单系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("快速下单", "Index", "Request")</li>
                    <li>@Html.ActionLink("注册一个", "Index", "Register")</li>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.CurrentUser.Role == Role.Maintainner || ViewBag.CurrentUser.Role == Role.Teacher || ViewBag.CurrentUser.Role == Role.Administrator)
                        {
                            <li>@Html.ActionLink("待处理订单", "index", "Maintainer")</li>
                            <Li>@Html.ActionLink("所有订单", "GetAllRequest", "Maintainer")</Li>
                            if (ViewBag.CurrentUser.Role == Role.Maintainner)
                            {
                                <li>@Html.ActionLink("已接订单", "GetRequest", "Maintainer")</li>
                            }
                            if (ViewBag.CurrentUser.Role == Role.Teacher || ViewBag.CurrentUser.Role == Role.Administrator)
                            {
                                <li>@Html.ActionLink("审核用户", "AuditUser", "Teacher")</li>
                                <li>@Html.ActionLink("审核报修单", "AuditRequest", "Teacher")</li>
                                if (ViewBag.CurrentUser.Role == Role.Administrator)
                                {
                                    <li>@Html.ActionLink("添加老师", "index", "Administrator")</li>
                                    <li>@Html.ActionLink("所有用户", "AllUser", "Administrator")</li>
                                }
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("历史订单", "Index", "User")</li>
                        }
                        <li>@Html.ActionLink(Context.User.Identity.Name + " | 退出登陆", "Logout", "Login")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("我要登陆", "Index", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
