@{
    ViewBag.Title = "登录页";
}
@model WebTickets.UserModel

<style>
    .error-container {
        margin: 10px 0;
    }

        .error-container span {
            display: block;
        }

    .text-danger {
        color: #ff0000;
        font-weight: normal;
    }
</style>

<div class="jumbotron">
    <h1>登陆</h1>
    <p class="lead">欢迎你来到这里</p>

    @using (Html.BeginForm(
        "Login", "Login",
        new { ReturnUrl = this.Request.QueryString["ReturnUrl"] },
        FormMethod.Post))
    {
        @Html.LabelFor(m => m.RuiJieId)
        <br />
        @Html.TextBoxFor(m => m.RuiJieId, new { id = "ruijieId" })
        <br />
        <span id="ruijieId-error-files" style="color: #FF0000; display: none">你输入的用户名不存在，请重新输入或正在审核，请耐心等待</span><br />
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.PasswordFor(m => m.Password, new { id = "password" })
        <br /><br />
        @Html.CheckBoxFor(m => m.IsRememberMe)
        <span></span>
        @Html.LabelFor(m => m.IsRememberMe)
        <br />
        <div class="error-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <input type="submit" class="btn btn-default" id="submit" value="登陆"/>
        @Html.ActionLink("注册", "index", "Register");
    }
</div>

@section scripts{
    <script>
        $(function () {
            $("#ruijieId").blur(function () {
                var ruijieId = $("#ruijieId").val();
                $.ajax(
                    {
                        type: "GET",
                        url: "/Login/CheckLoginData?ruijieId=" + ruijieId,
                        success: function (result) {
                            if (result) {
                                $("#ruijieId-error-files").show();
                                $("#submit").hide();
                            } else {
                                $("#ruijieId-error-files").hide();
                                $("#submit").show();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败");
                        }
                    });
            });
        })
    </script>
}